header{
    background-color: darkmagenta;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(0, 255, 85);
}
.duolingo{
    width: 175px;
    height: 135px;
}
button{
    font-size:25px ;
    background-color:black ;
    color: rgb(255, 221, 170);
}
nav{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size:20px ;
    border:solid black 3px ;
    background-color: rgb(255, 81, 0);
}
nav a:hover{
box-shadow: 5px 5px 5px rgb(174, 0, 255);
transition:2s ;
cursor: pointer;
}

